{% extends "account/base.html" %}

{% load i18n %}

{% block account %}
<div class="text-center">

    <h1>Выход<br><br></h1>

    <p>Вы уверены, что хотите выйти с аккаунта?<br><br></p>

    <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button type="submit" class="btn btn-danger btn-lg">{% trans 'Sign Out' %}</button>
    </form>

</div>


{% endblock account %}
