{% extends 'base.html' %}
{% load static %}

{% block title %}
    Svesh - Главная
{% endblock title %}

{% block content %}

    <section class="main-content"> <!-- Сетка бутстраппа состоит из трех основных классов: -->
        <div class="container"> <!-- container - оборачивает все содержимое сетки -->
            <div class="row"> <!-- row - ряд сетки -->

                <div class="col-lg-12 col-sm-6 mb-3">
                    <div class="index-blocks">
                        <div class="index-block">
                            <h4>Одежда Svesh</h4>
                            <p>Качественные футболки</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-sm-6 mb-3">
                    <div class="index-blocks">
                        <div class="index-block">
                            <h4>Мы проверяем каждое изделие перед отправкой</h4>
                            <p>Возврат средств при малейшем дефекте</p>
                        </div>
                    </div>
                </div>

               <div class="col-lg-12 col-sm-6 mb-3">
                    <div class="index-blocks">
                        <div class="index-block">
                            <h4>Мы изготавливаем только качественные футболки</h4>
                            <p>100% Хлопок</p>
                        </div>
                    </div>
                </div>

            <div class="col-lg-12 col-sm-6 mb-3">
                <div class="index-blocks">
                    <div class="index-block">
                        <h4>В скором времени появится раздел создания своей кастомной одежды</h4>
                        <p>Благодоря простому интерфейсу каждый сможет создать свою модель</p>
                    </div>
                </div>
            </div>

            </div>
        </div>
    </section>

{% endblock content %}
